@import url('https://fonts.googleapis.com/css?family=Geostar+Fill|Press+Start+2P|VT323|Special+Elite');

@page-width: 48em;
@import "_reset";
@msr: 1.125em;
@import "_basics";

html {
  background-color: #123;
  background-image: url("abstract-3293076_1280.jpg");
  background-size: cover;
  background-attachment: fixed;
  color:#def;
}


header {
  background-color: rgba(0,64,128, 0.75);
  border-bottom: .1em solid;
  box-shadow: 0 0 1em #eff;
  color:#eff;
  margin-bottom: 1em;

  h1 {
    color: inherit;
    margin: 0 auto;
    font-family: "Geostar Fill";
    text-shadow: 0 0 1em;
  }

  nav {
    display: table;
    font-family: "VT323";
    font-size: 1.5em;
    width: 100%;

    ul {
      display: table-row;

      li {
        display: table-cell;
        text-align: center;
        width: 1%;

        a {
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}

h1 {
  font-family: "VT323";
  font-size: 3em;
  font-weight: normal;
  text-transform: none;
  margin-top: 0;
}

article {
  background-color: rgba(0,0,0, 0.75);
  border: .01em solid;
  border-radius: 1em;
  box-shadow: 0 0 1em;
  font-family: "Press Start 2P";

  min-height: 80vh;
}

pre {
  background-color: rgba(0,0,0, 0.75);
  color: #eff;
}

a {
  color: #eff;

  &:hover {
    text-shadow: 0 0 1em;
  }
}

fantasy-terminal {
  opacity: .75;
  margin: 1em;
}

footer {
  background-color: rgba(0,64,128, 0.75);
  color: #9cf;
  font-family: "Special Elite";
  font-size: .8em;
  margin-top: 1em;
  text-align: center;

}