---
---

// @import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Geostar+Fill|Press+Start+2P|VT323|Special+Elite');

* {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
figcaption,
figure,
main {
  display: block;
}
ul,
ol,
li {
  list-style: none;
}
img,
canvas {
  border: none;
  max-width: 100%;
}
* {
  box-sizing: inherit;
}
html,
.fullscreen {
  background-color: #ffe;
  box-sizing: border-box;
  color: #234;
  font-family: "Georgia", serif;
  font-size: 20px;
  letter-spacing: 0.02051005em;
  line-height: 1.42382813;
}
@media screen and (min-width: 96em) {
  html,
  .fullscreen {
    font-size: 1.42382813vw;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
table,
form,
pre {
  margin: 0.88888889em 0.79012346rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
h1 {
  font-size: 1.80203247em;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-size: 1.60180664em;
  font-weight: bolder;
  text-transform: uppercase;
}
h3 {
  font-size: 1.42382813em;
  font-weight: bolder;
}
h4 {
  font-size: 1.265625em;
  font-style: italic;
}
h5 {
  font-size: 1.125em;
  font-style: italic;
  text-decoration: underline;
}
h6 {
  font-size: 1em;
  font-style: italic;
  text-decoration: underline;
  font-weight: normal;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  margin-left: 1.42382813em;
}
ol > li {
  list-style: decimal outside;
}
ul > li {
  list-style: disc outside;
}
a {
  color: #06c;
}
th,
td {
  padding: 0.30794615em 0.55492896em;
}
canvas {
  display: block;
  margin: 0 auto;
}
.page {
  margin: auto;
  max-width: 48em;
  position: relative;
}
html {
  background-color: #123;
  background-image: url("abstract-3293076_1280.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #def;
}
@media screen and (max-width: 42em) {
  html {
    font-size: 3vw;
  }
}
header {
  background-color: rgba(0, 64, 128, 0.75);
  border-bottom: .1em solid;
  box-shadow: 0 0 1em #eff;
  color: #eff;
  margin-bottom: 1em;
}
header h1 {
  color: inherit;
  margin: 0 auto;
  font-family: "Geostar Fill";
  text-shadow: 0 0 1em;
}
header nav {
  display: table;
  font-family: "VT323";
  font-size: 1.5em;
  width: 100%;
}
header nav ul {
  display: table-row;
}
header nav ul li {
  display: table-cell;
  text-align: center;
  width: 1%;
}
header nav ul li a {
  display: block;
  text-decoration: none;
}
h1 {
  font-family: "VT323";
  font-size: 3em;
  font-weight: normal;
  line-height: 1em;
  margin-top: 0;
  text-transform: none;
}
article {
  background-color: rgba(0, 0, 0, 0.75);
  border: .01em solid;
  box-shadow: 0 0 1em;
  font-family: "Press Start 2P";
  min-height: calc(100vh - 8.2em);
}
pre {
  background-color: rgba(0, 0, 0, 0.75);
  color: #eff;
}
a {
  color: #eff;
}
a:hover {
  text-shadow: 0 0 1em;
}
fantasy-terminal {
  opacity: .75;
  margin: 1em;
}
footer {
  background-color: rgba(0, 64, 128, 0.75);
  color: #9cf;
  font-family: "Special Elite";
  font-size: .8em;
  margin-top: 1em;
  text-align: center;
}
